/* font-family: "Raleway", sans-serif; 
font-family: "Roboto", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2E2F42;

}

.footer-logo .logo-part {
    color: #f4f4fd;

}
.nav-link {
font-size: 16px;
letter-spacing: 0.02em;
color: #2E2F42
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-link {
font-size: 16px;
letter-spacing: 0.02em;
color: #434455
}

.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}

.first-section {
color: #FFFFFF;
background-color: #2e2f42;
font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif;
}

.button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer
}

.button:hover,
.button:focus {
    background-color: #404BBF 
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.custom-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-mambears {
    background-color: #f4f4fd;
}
.come-section {
    background: #FFFFFF;
    font-family: "Raleway", sans-serif; 
    font-family: "Roboto", sans-serif
}
 

.footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.p-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.logo-part {
    font-family: "Raleway", sans-serif;
    font-size: 18px
    letter-spacing: 0.03em;
    text-transform: uppercase
    color: #f4f4fd;
}

